body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
    color: #333;
}
.container {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 260px;
    height: 100vh;
    background-color: #002D54;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
}
.create-project-btn {
width: 100%;
padding: 10px;
font-size: 16px;
cursor: pointer;
background-color: #002D54;
color: white;
border: 2px solid white;
border-radius: 4px;
outline: none;
margin-top: 120px;
transition: background-color 0.3s, color 0.3s;
}
.create-project-btn:hover {
background-color: #ffffff;
color: #002D54;
}
.headbar {
    width: calc(100% - 260px);
    height: 106px;
    background-color: #002D54;
    position: fixed;
    top: 0;
    left: 260px;
    z-index: 1;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}
.horizontal-separator {
    width: 100%;
    height: 1px;
    background-color: white;
    position: fixed;
    top: 106px;
    left: 0;
    z-index: 2;
}
.nav-items {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 25px;
    position: relative;
    cursor: pointer;
    transition: text-decoration 0.3s;
}
.nav-item a::before {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: white;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.nav-item:first-child a::before {
    display: none;
}
.nav-item a:hover::after, .nav-item a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.user-icons {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.user-icons img {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}
.selected-projects {
margin-top: 20px;
}

#selected-project-details {
padding: 10px;
border-radius: 5px;
color: white;
}
.main-content {
    width: calc(100% - 260px);
    margin-top: 107px;
    margin-left: 260px;
    padding: 20px;
    box-sizing: border-box;
}
.report-section {
    padding: 20px;
}
.report-actions {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.report-actions button {
    padding: 15px 25px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #002D54;
    background-color: white;
    color: #002D54;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.report-actions button:hover {
    background-color: #002D54;
    color: white;
}
.report-actions .active {
    background-color: #002D54;
    color: white;
}
.report-selection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.report-selection label {
    margin-right: 10px;
}
#report-dropdown {
    background-color: #d2e1eb;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#report-content {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}
.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.report-table th, .report-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.report-table th {
    background-color: #f0f0f0;
}
.report-files a {
    color: #002D54;
    text-decoration: none;
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .headbar {
        width: 100%;
        left: 0;
        padding-left: 20px;
    }
    .main-content {
        margin-top: 120px;
        margin-left: 0;
        padding: 20px;
    }
}
/* Styles for Toggle Bar */
.tabs {
    display: flex;
    align-items: center;
}
.tab {
    color: #002D54;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    transition: text-decoration 0.3s;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 45px;
}
.tab::before {
    content: '';
    display: block;
    width: 0.5px;
    height: 40px;
    background-color: #002D54;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.tab:first-child::before {
    display: none;
}
.tab:hover::after, .tab.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #002D54;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}